.font_fam{
  color: var(--Black, #262626);
  font-family: Abel;
  src: url("./assets/Abel/Abel-Regular.woff") format("woff");
}
.donotscroll{
  overflow: hidden;
  height: 100%;
  width:100%;
  min-height:100%;
}





